
<!--Login Success Alert-->
<div class="alert alert-success" id="success">
  <strong>Success!</strong> Welcome to Member Area.
</div>

<!--Redirect buttons-->
<div class="gameListContainer" style="margin-top:140;">

	<!--Start Member List-->
	<div class="memberList">
		<div class="row col-sm-10 col-sm-offset-1">
    		<button style="float:left;margin:auto;top:20px;position:relative;" type="button" class="btn btn-info" id="btn-count">
       		 	Users 
       		 	<span class="badge badge-light" id="userCount">0</span>
    		</button>
		</div>

		<div style="margin-top:30;margin-left:0;min-width:0;max-width:300;" class="row col-sm-8 col-sm-offset-2" id="feedUsers">
		</div>

	</div>
	<!--End Member List-->

	<!--Navigation Option-->
	<div class="nav-options">

		<a href="/games"><img class="iconIMG" src="./images/games.png"></a>
		<a href="/feed"><img class="iconIMG" src="./images/feeds.png"></a>
		<a href="/myProfile"><img class="iconIMG" src="./images/profile.png"></a>
		
	</div>
	<!--End Navigation Option-->


</div>

