
<div class="gameListContainer">

	<p style="margin-top:50;">Welcome to myProfile Page</p>

	<div style="float:left;margin-left:50px;min-width:500;" class="userInfo" id="userInfo">
		<p style="float:left;">Username:	<p id="userName"></p> 
		</br><p style="float:left;">HUB Points:	<p id="hubPoints">0</p></p>	
	</div>



</div>