<div id="container">
	<div class="gameListContainer">
		<div id="test" style="background-color:blue;color:white;">
			This element should hide when clicked
		</div>

		<button>Click to show all elements</button>

	</div> 
</div>
